*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    outline: none;
}
.container{
    background-color: #242424;
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    /* background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */

}
/* .container h1{
    background-color: rgba(10, 10, 10, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
} */
.container .card{
    background-color: rgba(10, 10, 10, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.star{
    display: flex;
    grid-gap: 10px;
}
.star a{
    color: #333;
    font-size: 30px;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}
.btn button{
    background-color: rgba(129, 129, 129, 0.6);
    color: #000;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}